export Route53=".aws.endpoint.com" #"domain"
export AWS_ACCESS_KEY_ID="XXXXXXXXXXXXX" #"your_access_key"
export AWS_SECRET_ACCESS_KEY="xXxXxXxXx"  #"your_secret_key"

export EAB_KID="xxxxx" #"your_eab_kid"
export EAB_HMAC_KEY="xxxxxxx"


export RH_OFFLINE_TOKEN=""

# Get your Slack Token
# The demo will send notifications to a Slack Channel, so you will need to generate a Token. You can follow these steps:
# Goto https://api.slack.com/apps and click on the "Create New App" button to create a new slack application.
# In the next popup add a new App Name and select the Slack Workspace and click on the Create App button
# Once the application is created in the Add features and functionality section click on the Permissions button to set the token scopes. Enable the chat:write permission
# Next step go to the "Install App" menu on the left and install the application in the desired workspace and allow access to the requested scopes. Click on the Install App to Workspace button
# Then you get the OAuth Access Token.
# You will end up with a token like this one:
# xoxp-XXXXXXXXXXXXX-XXXXXXXXXXXXX-XXXXXXXXXXXXX-XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

export SLACK_TOKEN="xoxp-XXXXXXXXXXXXX-XXXXXXXXXXXXX-XXXXXXXXXXXXX-XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"

# During the demo you will need to push or move tags in certain container images (take a look at minute 25:25 in the video), so you will need to have access to a container image repository. Probably you want to use Quay.io so first, check that you can login:

export QUAY_ROBOT_USER="quayuser+device_edge_workshops"
export QUAY_USER="quayuser"