/**
 * This file contains environment variables used for device-edge-deployer in device-edge-workshops.
 * It includes variables for AWS configuration, Quay.io credentials, and a link to the Ansible Automation Platform setup file.
 * Please make sure to replace the placeholder values with the actual values before using this file.
 */
export ROUTE53="aws.endpoint.com" #"domain" # Route53 endpoint for DNS configuration
export AWS_ACCESS_KEY_ID="XXXXXXXXXXXXX" #"your_access_key" # AWS access key ID
export AWS_SECRET_ACCESS_KEY="xXxXxXxXx" #"your_secret_key" # AWS secret access key

export QUAY_ROBOT_USER="quayuser+device_edge_workshops" # Quay.io robot user for device edge workshops
export QUAY_USER="quayuser" # Quay.io user

export GIT_REPO_OWNER="tosin2013" # redhat-manufacturing
export BRANCH_NAME="rhel8-equinix-int" # gitops-demo

# "Please download your aap.tar.gz file from https://access.redhat.com/downloads/content/480/ver=2.4/rhel---9/2.4/x86_64/product-software"
export AAP_LINK="https://access.cdn.redhat.com/content/origin/files/sha256/0d/0dd214529a7754046317248d68fbe4f92a5c1562cc9297845ba956e0640fad2b/ansible-automation-platform-setup-2.4-4.tar.gz?user=XXXXXXXXXXXX&_auth_=XXXXXXXXX" # Link to Ansible Automation Platform setup file
