# The Ansible playbooks will create Certificates to be used by the HTTPS services, so you need to issue valid SSL certs. An easy way to do it is by using ZeroSSL.
# This is totally free to set up and allows wildcard certificates to be issued. Once registered, create an API key on the developer page https://app.zerossl.com/developer.
# You need an "EAB Credential for ACME Clients", so generate one from that developer page. It will be something like this:


# Get your Red Hat Customer Portal Offline Token
# This token is used to authenticate to the customer portal and download software. It can be generated here. https://access.redhat.com/management/api

# Commented out for clarity
# URL location: https://access.redhat.com/downloads/content/480/ver=2.4/rhel---9/2.4/x86_64/product-software
# Link Example Format: https://access.cdn.redhat.com/content/origin/files/sha256/0d/XXXxXXXXXXXxxxxXX/ansible-automation-platform-setup-2.4-4.tar.gz?user=xxxxxxXXXXxxxxXXXX&_auth_=XXXXXxxxxxXXXXXXX
# Save your file as aap.tar.gz.

# In order to use Automation controller you need to have a valid subscription via a manifest.zip file. To retrieve your manifest.zip file you need to download it from access.redhat.com.
# You have the steps in the Ansible Platform Documentation
# Go to Subscription Allocation and click "New Subscription Allocation"
# Enter a name for the allocation and select Satellite 6.8 as "Type".
# Add the subscription entitlements needed (click the tab and click "Add Subscriptions") where Ansible Automation Platform is available.
# Go back to "Details" tab and click "Export Manifest"
# Save apart your manifest.zip file.